*{
  margin: 0px;
  padding: 0px;
}
#msg,#resource_box {
  padding: 7px;
}
#config {
  box-sizing: border-box;
  width: 100%;
  display: none;
  
  background-color: #cccccc;
  padding: 20px 5px;
  margin: 20px 0px;
  overflow: hidden;

}

#config > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#config > div > *:first-child {
  border-right: 3px solid #31c600;
  margin-right: 20px;
  padding-right: 20px;
}

#choose_img {
  width: 80%;
  margin: 20px auto;
  height: 200px;
  border: 6px dashed #f5f5f5;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #787878;
  font-size: 1rem;
  /*让文字不可被选择*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#resource_box > img {
  display: block;
  width: 300px;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
}

#img_pre_show {
  display: none;
  height: 80%;
}

#config_control {
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  margin: 7px;
  color: #050505;
}
#config_control > i {
  color: #050505;
}
#illustrate > * {
  margin: 8px 0px;
}
#illustrate > h4,#illustrate i {
  color:#31c600;
}
td {
  position: relative;
  overflow: hidden;
}
td > input {
  display: block;
  width: 15em;
  max-width: 100%;
  border: none;
  padding: 5px;
  background-color: #fff;
  border-radius: 0px !important;  
}
select {
  display: block;
  width: 15.75em;
  border: none;
  padding: 5px;
  background-color: #fff;
}
table {
  display: block;
  overflow: hidden;
}
#upload_hint > i{
  font-size: 7em;
}
#upload_hint {
  text-align: center;
  font-size: 0.8em;
  
}


#tis {
  /* color:#787878; */
  font-size: 1rem;
  text-decoration: none;

}
#tis > a{
  text-decoration: none;
}
/*默认隐藏*/
#tis2 {
  display: none;
}

/**上传成功后的文字样式**/
#uploadSuccessTis {
  color: #008040;
}

#compression_check_td {
  background-color: #fff;
  display: flex;
  justify-content:space-around;
  align-items: center;
  overflow: hidden;
  
  
}

#compression_check_td > input {
  border: none;
  padding: 5px 0px;
  border-radius: 0px;

}
#modification_1,#modification_2 {
  position: absolute;

  display:inline;
  width: 20px;

}
#modification_1 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  left: 4px;
  display: block;
}
#modification_2 {
  position: absolute;
  display: block;
  left: 26px;
  top: 0px;
  line-height: 25px;  
  font-size: 15px;
  width: 19px;
}
#modification_3 {
  padding-left: 45px;
  box-sizing: border-box;
  width: 15.75em;
  max-width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
