#config {
  box-sizing: border-box;
  width: 100%;
  display: none;
  
  background-color: #d8d8d8;
  padding: 20px;
  margin: 20px 0px;
  overflow: hidden;

}
#config > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#config > div > *:first-child {
  border-right: 3px solid #31c600;
  margin-right: 20px;
  padding-right: 20px;
}

#choose_img {
  width: 80%;
  margin: 20px auto;
  height: 200px;
  border: 6px dashed #f5f5f5;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #787878;
  font-size: 1rem;
  /*让文字不可被选择*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#resource_box > img {
  display: block;
  width: 300px;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
}

#img_pre_show {
  display: block;
  height: 80%;
}

#config_control {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
}

input {
  display: block;
  width: 15em;
  border: none;
  padding: 5px;
  background-color: #fff;
}
select {
  display: block;
  width: 15.7em;
  border: none;
  padding: 5px;
  background-color: #fff;
}
table {
  display: block;
  overflow: hidden;
}
#upload_hint > i{
  font-size: 7em;
}
#upload_hint {
  text-align: center;
  font-size: 0.6em;
  
}
#upload_hint a {
  text-decoration:none;
}